.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/
/*background:yellow;*/
}

.anchorclass
{
    font-family:inherit;    
}

/* ######### Default class for drop down menus ######### */

.anylinkcss{
position:absolute;
left:0;
top:0;
visibility:hidden;
border:1px solid black;
border-bottom-width:0;
font:normal 12px Verdana;
line-height:18px;
z-index:100; /* zIndex should be greater than that of shadow's below */
/* background:lightyellow; */
width:200px; /* default width for menu */
}

.anylinkcss ul{
margin:0;
padding:0;
list-style-type:none;
}

.anylinkcss ul li a{
width:100%;
display:block;
text-indent:3px;
border-bottom:1px solid black;
padding:1px 0;
text-decoration:none;
font-weight:bold;
text-indent:5px;
}

.anylinkcss a:hover{ /*hover background color*/
background:black;
color:white;
}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkcsscols{
position:absolute;
left:0;
top:0;
visibility:hidden;
border:1px solid #c9252b;
padding:8px;
font:normal 10px Verdana;
z-index:100; /*zIndex should be greater than that of shadow's below*/
background:#58595b;
}

.anylinkcsscols .column{
width:130px;
float:left;
color:#FFFFFF;
}

.coltitle
{
    text-decoration:underline;
    font-weight:bold;
}

.anylinkcsscols .column ul{
margin:5px 0px 0px 0px;
padding:0;
list-style-type:none;
}

.anylinkcsscols li{
padding-bottom:3px;
}

/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position:absolute;
left:0;
top:0;
z-index:99; /*zIndex for shadow*/
background:black;
visibility:hidden;
}
/*
     FILE ARCHIVED ON 11:06:08 Sep 15, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:13:08 Mar 14, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.444
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 29.802
  LoadShardBlock: 100.718 (3)
  PetaboxLoader3.datanode: 97.522 (4)
  load_resource: 301.669
  PetaboxLoader3.resolve: 78.76
*/